.card {
  border: coral;
  border-radius: 10px;
  border-width: 10px;
  display: block;
  background-color: #61dafb;
}
.list {
  display: flex;
  justify-content: space-evenly;
}
.btn {
  text-decoration: none;
}
